testData/*.mat
testData/*.dat
testData/*.gii
testData/*.nii
testData/*.lvm
testData/cerca/*.cMEG
testData/cerca/*.mat
testData/cerca/*.dat
testData/cerca/*.txt
testScripts/*.asv
testScripts/*local.m
junk/**

*.asv
!testData/testCustom.gii
!testData/*.surf.gii
!testData/T1w.nii
